<section class="historia">
  <h2>Historia</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti,
    vel illo ex corrupti ea reiciendis odio quisquam sunt magnam doloremque hic
    eligendi quasi fuga suscipit aut placeat reprehenderit quos.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error
    deleniti omnis fugiat ea a commodi deserunt. Eius dignissimos dicta, dolor
    placeat tenetur, molestias fuga maiores quam magnam, et dolores.</p>
</section>
<section class="staff">
  <h2>Staff</h2>
  <div class="personas">
    <div class="persona">
      <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez" />
      <h5>Juan Gomez</h5>
      <h6>Gerente General</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
        doloribus odio dicta earum quam sequi quae facilis iusto itaque cum
        voluptatibus, soluta reprehenderit necessitatibus commodi fugiat hic
        laboriosam voluptates quidem.</p>
    </div>
    <div class="persona">
      <img src="images/nosotros/nosotros2.jpg" alt="Diana Reyes" />
      <h5>Diana Reyes</h5>
      <h6>Gerente Comercial</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        expedita dolore voluptate qui quae nemo tenetur libero doloribus,
        repellat, odit inventore! A numquam modi voluptas, nisi tempore
        similique perspiciatis blanditiis!</p>
    </div>
    <div class="persona">
      <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zaptos" />
      <h5>Roberto Zaptos</h5>
      <h6>Gerente de Sistemas</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ad
        consectetur ipsum impedit dolorem ex minima fuga dolore distinctio atque
        similique quis facere ut laboriosam libero tempora, harum saepe iure!</p>
    </div>
    <div class="persona">
      <img src="images/nosotros/nosotros4.jpg" alt="Sandra Mastropiero" />
      <h5>Sandra Mastropiero</h5>
      <h6>Gerente de Marketing</h6>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore
        eligendi incidunt, corrupti molestias facere libero dolor veritatis aut
        praesentium mollitia, odio iste ea, saepe nulla minus cumque suscipit
        deserunt possimus.</p>
    </div>
    <div class="persona">
      <img src="images/nosotros/nosotros5.jpg" alt="Luciano Figuero" />
      <h5>Luciano Figuero</h5>
      <h6>Gerente Logística</h6>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
        earum unde ipsum quasi saepe eius molestiae consectetur obcaecati
        aperiam molestias, debitis quas reprehenderit soluta ex dolor quam
        voluptatibus, aliquam dolorem.</p>
    </div>
  </div>
</section>