<h2>Novedades</h2>
<section class="novedades">
  <h3>Título</h3>
  <h4>Subtítulo</h4>
  <p>Descripción - Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Totam quo placeat rem. Similique dolores cupiditate nam eaque, quidem
    officiis, voluptatibus quos sed, unde repudiandae a illo doloribus placeat
    quis qui!</p>
  <hr />
</section>
<section class="novedades">
  <h3>Título</h3>
  <h4>Subtítulo</h4>
  <p>Descripción - Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Totam quo placeat rem. Similique dolores cupiditate nam eaque, quidem
    officiis, voluptatibus quos sed, unde repudiandae a illo doloribus placeat
    quis qui!</p>
  <hr />
</section>
<section class="novedades">
  <h3>Título</h3>
  <h4>Subtítulo</h4>
  <p>Descripción - Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Totam quo placeat rem. Similique dolores cupiditate nam eaque, quidem
    officiis, voluptatibus quos sed, unde repudiandae a illo doloribus placeat
    quis qui!</p>
  <hr />
</section>